<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            <h2>About</h2>
            <p>Full developer, both at the Frontend level and at the backend level.</p>
            <p>I perform the functions of Project Manager, Team Leader, Consultant, Analyst and Developer.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 text-center" data-aos="fade-right">
                <img src="assets/img/about-me.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>Project Manager, Analyst, Consultant &amp; Developer</h3>
                <p class="font-italic">
                    You can contact me through these channels:
                </p>
                <div class="row ml-5">
                    <div class="ml-5">
                        <ul>
                            <li><i class="icofont-rounded-right"></i>
                                <strong><i class=""></i>Website:</strong>
                                <a class="ml-1 external-link"
                                   href="http://rivilla13.atwebpages.com/"
                                   target="_blank">rivilla13.atwebpages.com</a>
                            </li>
                            <li><i class="icofont-rounded-right"></i>
                                <strong>Email:</strong> rivilla13<span>&#64;</span>gmail.com
                            </li>
                            <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> +34 629 570 378</li>
                            <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Barcelona, Spain</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End About Section -->