<!-- ======= Skills Section ======= -->
<section id="skills" class="about">
    <div class="container">

        <div class="section-title">
            <h2>Skills</h2>
            <p>Knowledge related to application development.</p>
        </div>

        <div class="row skills-content">
            <div class="col-lg-6 content pr-3" data-aos="fade-right">
                <h4 class="skill-title">Programming languages / Frameworks</h4>

                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="icofont-rounded-right"></i>HTML</li>
                            <li><i class="icofont-rounded-right"></i>CSS</li>
                            <li><i class="icofont-rounded-right"></i>Javascript</li>
                            <li><i class="icofont-rounded-right"></i>Typescript</li>
                            <li><i class="icofont-rounded-right"></i>jQuery</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="icofont-rounded-right"></i>Boostrap</li>
                            <li><i class="icofont-rounded-right"></i>Angular</li>
                            <li><i class="icofont-rounded-right"></i>Node.js</li>
                            <li><i class="icofont-rounded-right"></i>Java</li>
                            <li><i class="icofont-rounded-right"></i>Php / Symfony</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 content" data-aos="fade-left">
                <h4 class="skill-title">Management skills</h4>
                <ul>
                    <li><i class="icofont-rounded-right"></i>Identification of solutions</li>
                    <li><i class="icofont-rounded-right"></i>Project management</li>
                    <li><i class="icofont-rounded-right"></i>Work team management</li>
                    <li><i class="icofont-rounded-right"></i>Analysis</li>
                    <li><i class="icofont-rounded-right"></i>Consulting</li>
                </ul>
            </div>
            <div class="col-lg-6 content" data-aos="fade-right">
                <h4 class="skill-title">Database</h4>
                <ul>
                    <li><i class="icofont-rounded-right"></i>SQL/MysQL</li>
                    <li><i class="icofont-rounded-right"></i>DB2</li>
                    <li><i class="icofont-rounded-right"></i>Lotus Domino</li>
                    <li><i class="icofont-rounded-right"></i>SQLite</li>
                </ul>
            </div>

            <div class="col-md-6 content" data-aos="fade-left">
                <h4 class="skill-title">IT knowledge</h4>
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li><i class="icofont-rounded-right"></i>SASS</li>
                            <li><i class="icofont-rounded-right"></i>Handlebars.js</li>
                            <li><i class="icofont-rounded-right"></i>Lotusscript</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li><i class="icofont-rounded-right"></i>VBA</li>
                            <li><i class="icofont-rounded-right"></i>Git</li>
                            <li><i class="icofont-rounded-right"></i>SOAP / REST</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 content" data-aos="fade-right">
                <h4 class="skill-title">Certificates</h4>
                <ul>
                    <li><i class="icofont-rounded-right"></i>Certified Lotus Profesional</li>
                </ul>
            </div>

        </div>
    </div>
</section><!-- End Skills Section -->