<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title">
            <h2>Portfolio</h2>
            <p>Exercises performed during the Angular Bootcamp.</p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/library.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/library.jpg" data-gall="portfolioGallery" class="venobox"
                           title="Library Bootstrap design"><i class="bx bx-plus"></i></a>
                        <a href="https://fjrp-13.github.io/itAcademy_Angular/M5-Javascript/03-Validations/index.html"
                           target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/rocket-race.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/rocket-race.jpg" data-gall="portfolioGallery" class="venobox"
                           title="Rocket Race Exercise"><i class="bx bx-plus"></i></a>
                        <a href="https://fjrp-13.github.io/itAcademy_Angular_M6TS_02Cohets/views/index.html"
                           target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/random-joke.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/random-joke.jpg" data-gall="portfolioGallery" class="venobox"
                           title="Random Joke Web Service Exercise"><i class="bx bx-plus"></i></a>
                        <a href="https://fjrp-13.github.io/itAcademy_Angular_M9jQuery_Jokes/index.html"
                           target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/leaflet.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/leaflet.jpg" data-gall="portfolioGallery" class="venobox"
                           title="Leaflet Exercise"><i class="bx bx-plus"></i></a>
                        <a href="https://fjrp-13.github.io/itAcademy_Angular_M10Leaflet_01Coordenadas/ex03.html"
                           target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/rating-stars.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/rating-stars.jpg" data-gall="portfolioGallery" class="venobox"
                           title="Rating Stars Exercise"><i class="bx bx-plus"></i></a>
                        <a href="https://fjrp-13.github.io/itAcademy_Angular/M5-Javascript/04-Rating/"
                           target="_blank" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Portfolio Section -->