<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">
        <div class="section-title pb-0">
            <h2>Resume</h2>
        </div>
        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Angular Bootcamp</h4>
                    <h5>2020 - 2021</h5>
                    <p>
                        <em>
                            <a href="https://www.barcelonactiva.cat/es/itacademy" class="external-link" target="_blank">
                                IT Barcelona Activa
                            </a>
                        </em>
                    </p>
                    <p>Angular bootcamp based on the standard Frontend development languages: HTML, CSS, Flexbox, CSS
                        Grid, Bootstrap, Javascript, Typescript, ...</p>
                </div>
                <div class="resume-item">
                    <h4>Symfony - PHP Framework</h4>
                    <h5>2017</h5>
                    <p class="dummy-link"><em>Formación BDI</em></p>
                    <p>120 hour online course in MVC Web application development with Symfony 3.</p>
                </div>
                <div class="resume-item">
                    <h4>Backend Web programming</h4>
                    <h5>2015</h5>
                    <p>
                        <em>
                            <a href="https://serveiocupacio.gencat.cat/ca/soc/centres-dinnovacio-i-formacio-ocupacional-cifo/CIFO-de-Barcelona-La-Violeta/"
                               class="external-link" target="_blank">
                                CIFO La Violeta
                            </a>
                        </em>
                    </p>
                    <p>
                        250-hour professional certificate module divided into 3 blocks:
                    </p>
                    <ul>
                        <li>Data access in backend web applications (MySQL)</li>
                        <li>Backend web application development (PHP)</li>
                        <li>Distributed web application development (SOAP/REST)</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Management applications development<br><em>(Network environment)</em></h4>
                    <h5>1996</h5>
                    <p class="dummy-link">
                        <em>Centro de Formación y Divulgación de Tecnología Infomática "laCaixa"/IBM</em>
                    </p>
                    <p>1,920-hour course on programming management applications in a network environment:</p>
                    <ul>
                        <li>Database design: DB2, SQL</li>
                        <li>Application development: C/C++, Delphi, Clipper, Cobol, </li>
                        <li>Hierarchical databases: Lotus Notes/Lotus Domino (administration and development)</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>FP2 Administrative and Commercial<br><em>(Management IT specialty)</em></h4>
                    <h5>1991 - 1995</h5>
                    <p>
                        <em>
                            <a href="https://www.monlau.com/formacio-professional/" class="external-link"
                               target="_blank">
                                CEP Monlau
                            </a>
                        </em>
                    </p>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Project Manager / Work Team Manager / Analyst / Consultant / Developer</h4>
                    <h5>2016 - Present</h5>
                    <p>
                        <em>
                            <a href="https://bsnsoftware.net/"
                               class="external-link" target="_blank">
                                BSN Software & Consulting
                            </a>
                        </em>
                    </p>
                    <p>
                        Identification of solutions, project management, work team management, analysis and development
                        of Lotus Notes/Lotus Domino projects, browser technology and backend technology.
                    </p>
                </div>
                <div class="resume-item">
                    <h4>Freelance</h4>
                    <h5>2006 - 2016</h5>
                    <p>
                        Project management, work team management, responsible for analysis, developments, r+d and
                        implementations of developments carried out by SSIMG in Lotus Domino and browser environments:
                        HTML, CSS, Javascript, jQuery, AJAX, JSON, iText, ...
                    </p>
                    <p>
                        Creation of the internal framework to standardize the development of applications.
                    </p>
                </div>
                <div class="resume-item">
                    <h4>Analyst developer</h4>
                    <h5>1998 - 2006</h5>
                    <p class="dummy-link"><em>AUSEBA</em></p>
                    <p>
                        Management of work teams, project management, analysis and development of Lotus Notes/Lotus
                        Domino projects and browser technology, for clients such as Costaisa, SchlumbergerSema,
                        Retevisión, EDS, Abertis, Deutsche Bank, ...
                    </p>
                </div>
                <div class="resume-item">
                    <h4>Analyst developer</h4>
                    <h5>1996 - 1998</h5>
                    <p>
                        <em>
                            <a href="https://www.viewnext.com/" class="external-link"
                               target="_blank">
                                INSA
                            </a>
                        </em>

                    </p>
                    <p>
                        Analysis and development of Lotus Notes applications for external clients (Grupo Vitalicio, IBM,
                        Lotus) and responsible for maintaining the Lotus Notes developments of the central services of
                        "laCaixa".
                    </p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->